.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4em;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  text-align: center;
}

.icon-button:hover {
  background: rgba(127, 127, 127, .25);
}

.icon-button:active {
  background: rgba(127, 127, 127, .4);
}