<div class="wall">
  <div class="centered">
    <div class="jumbotron whiteframe">
      <h1>This is the page for the Dashboard</h1>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum urna ut elit rutrum aliquet. Pellentesque non dapibus justo. Fusce cursus at orci a gravida. In a sem a velit porttitor volutpat. Morbi bibendum, urna et condimentum mattis, libero elit gravida neque, sed eleifend tortor felis in dui. Nullam interdum dui risus, non sollicitudin urna posuere a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In sed sollicitudin eros, at dictum lacus. Integer dui dui, blandit ac tempor quis, volutpat et magna. Nunc ultricies lacus a aliquam vulputate. Sed viverra diam at sem scelerisque, in malesuada mauris iaculis. Morbi at elit gravida, luctus sapien vitae, fringilla arcu. Fusce non dignissim purus. Sed accumsan vel libero et ultrices. Curabitur vel mauris tempus lectus tincidunt ultrices id auctor eros. Aliquam id eleifend sapien, a eleifend nunc.
      </div>
    </div>
  </div>
</div>