<div class="wall">
  <text-button [icon]="'fa-times'" [label]="'Cancel'"></text-button>
  
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
  WALL <i class="fa fa-facebook"></i>
</div>